<launch>
  <arg name="bag"/>
  <arg name="bag_args" default=""/>

  <arg name="arm"  default="$(optenv SPOT_ARM 1)"/>
  <arg name="rviz" default="true"/>
  <arg name="rviz_config" default="$(find npm_launch)/rviz/npm_robot.rviz"/>

  <arg name="rsp" default="false"/>
  <arg name="bag_tf_topic" default="$(eval '/tf_bag_unused' if rsp else '/tf')"/>

  <arg name="remap_mesh" default="true"/>
  <arg name="bag_mesh_topic"
       default="$(eval '/npm/debug/object_mesh_bag' if remap_mesh else '/npm/debug/object_mesh')"/>
  <arg name="bag_snapshot_topic"
       default="$(eval '/npm/debug/settled_snapshots_bag' if remap_mesh else '/npm/debug/settled_snapshots')"/>

  <param name="use_sim_time" value="true"/>

  <param name="robot_description"
         command="env SPOT_ARM=$(arg arm) $(find xacro)/xacro $(find spot_description)/urdf/spot.urdf.xacro"/>

  <node if="$(arg rsp)" name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher"/>

  <node pkg="rosbag" type="play" name="rosbag_play" required="true" output="screen"
        args="--clock $(arg bag_args) $(arg bag)">
    <remap from="/tf" to="$(arg bag_tf_topic)"/>
    <remap from="/npm/debug/object_mesh" to="$(arg bag_mesh_topic)"/>
    <remap from="/npm/debug/settled_snapshots" to="$(arg bag_snapshot_topic)"/>
  </node>

  <node if="$(arg remap_mesh)" name="mesh_remap" pkg="npm_launch"
        type="mesh_remap_node.py" output="screen">
    <param name="package" value="npm_launch"/>
    <param name="models_dir" value="models"/>
    <param name="marker_in" value="$(arg bag_mesh_topic)"/>
    <param name="marker_out" value="/npm/debug/object_mesh"/>
    <param name="array_in" value="$(arg bag_snapshot_topic)"/>
    <param name="array_out" value="/npm/debug/settled_snapshots"/>
  </node>

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(arg rviz_config)"/>

</launch>
