<launch>
  <arg name="spot_bridge" default="true"/>
  <arg name="object" default="parallelopiped"/>

  <include file="$(find mocap_optitrack)/launch/mocap.launch"/>

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="mocap_to_world"
        args="-0.5 -0.5 0 -0.7071 0 0 0.7071 world mocap_world"/>

  <node pkg="npm_launch" type="mocap_spot_bridge_node.py"
        name="mocap_spot_bridge" output="screen" if="$(arg spot_bridge)">
    <param name="calib_file"
           value="$(find spot_calib)/config/spot_mocap_calib.yaml"/>
    <param name="mode" value="continuous"/>
  </node>

  <node pkg="npm_calib" type="object_extrinsic_node.py"
        name="object_extrinsic" output="screen">
    <param name="calib_file"
           value="$(find npm_calib)/config/$(arg object)_calib.yaml"/>
    <param name="parent_frame" value="$(arg object)"/>
    <param name="child_frame" value="object_link"/>
  </node>

</launch>